.scenario-container {
    border-bottom: 5px solid black;
    border-collapse: collapse;
}

.passed {
    background-color: lightgreen;
    color: darkgreen;
    border-bottom: 2px solid darkgreen;
}

.failed {
    background-color: tomato;
    color: darkred;
    border-bottom: 2px solid darkred;
}
.step-container {
    margin-bottom: 0px;
    padding: 5px;
}

#feature-table {
    display: flex;
    flex-direction: row;
}
/* #feature-list {
    flex-grow: 3;
} */

#scenario-list {
    flex-grow: 2;
}

#feature-table-padding {
    flex-grow: 1;
}